body {
    padding-top: 5em !important;  
    font-size: 16px;
    background: #FCF3EF;
}

.signed-in {
    /*padding-top: 1em;*/
}

.userinfo {
}

.nav>li>a {
    position: relative;
    display: inline-block;
    /* padding: 10px 15px; */
}

.container {
    /* margin-right: auto; */
     margin-left: 3em; 
    /*padding-left: 3em;*/
    /* padding-right: 15px; */
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
  text-align: center;
}

.main {
  text-align: left;
  /*background: deepskyblue;*/
}

.aside-1 {
  /*background: royalblue;*/

}

.aside-2 {
  /*background: orange;*/
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

#going {
    border-bottom: 2px #ccc dotted;
    padding: 10px;
}

.insidediv {
  background-color: white;
  border: 1px #ccc solid;
  padding: 1em;
}
.eventholder {
  width: 50%;
  border: 1px solid rgba(0,0,0,.12);
}

.oneevent {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  align-content: center;
}

main {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.showtitle {
  color: white;
  font-size: 1.6em;
}

td {
    padding: 1em !important;
}
