<p>
  <strong><%= attend.attendee %></strong>
  
</p>

<%- if @user.username == attend.attendee %>

<p>
  <%= link_to 'not going', [attend.article, attend],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-default" %>
</p>
<%- end %>